.footer__links {
  display: flex;
  column-gap: 10px;
}


.footer {
  height: 70px;
  display: flex;
  justify-content: center;
}

.footer__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__links a {
  font-size: 1.05em;
  color: #414141;
  text-decoration: underline;
}

