body {
    background: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    width: 1338px;
    height: 770px;
    flex-shrink: 0;
    border-radius: 49px;
    border: 4px solid #F60;
    background: #D9D9D9;
    display: flex;
}

.image {
    position: relative;
    top: 47px;
    right: 43px;
    bottom: 243px;
    left: 49px;
    width: 424px;
    height: 430px;
    flex-shrink: 0;
    
}

.rating-stars {
    position: relative;
    top: 47px;
    right: 54px;
    bottom: 667px;
    left: 561px;
    width: 256px;
    height: 56px;
    flex-shrink: 0;
}

.title {
    position: absolute;
    top: 145px;
    left: 511px; 
    width: auto; 
    max-width: 800px;
    color: #F60;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 400;
}

.title-p2 {
    position: absolute;
    top: 45px;
    left: 55px; 
    width: auto; 
    max-width: 800px;
    color: #F60;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 400;
}

.description {
    position: absolute;
    top: 205px;
    right: 61px;
    bottom: 337px;
    left: 516px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 400;
}

.description-p2 {
    position: absolute;
    top: 100px;
    right: 61px;
    bottom: 337px;
    left: 55px;
    flex-shrink: 0;
    color: #000;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 400;
}

.author {
    width: 679px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
}

.read-more {
    align-self: flex-end;
    margin-top: auto;
    padding: 10px 20px;
    background-color: #F60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addcomment-button {
    position: absolute;
    left: 995px;
    top: 630px;
    bottom: 51px;
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #F60;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.readmore-button {
    position: absolute;
    left: 519px;
    top: 630px;
    bottom: 51px;
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #F60;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button-text {
    color: #F60;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.input-container { 
    position: relative;
    width: 630px;
    height: 49px;
    right: 39px;
    left: 660px;
    top: 579px;
    bottom: 111px;
    border-radius: 10px;
    border: 2px solid #F60;
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .input-text {
    color: #000;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    flex-grow: 1;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0 10px; 
  }

.p2-text{
    position: absolute;
    top: 650px;
    left: 850px;
    right: 350px;
    bottom: 51px;
    color: #000;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 200;
}

.pa-text {
    position: absolute;
    top: 630px;
    left: 55px;
    right: 350px;
    bottom: 90px;
    color: #000;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 200;
}

.pd-text {
    position: absolute;
    top: 650px;
    left: 55px;
    right: 350px;
    bottom: 51px;
    color: #000;
    font-family: Roboto Slab;
    font-size: 16px;
    font-weight: 200;
}

  
