:root {
  --main-bg-color: #1B1B1B;
  --lnk-color: #FF6600;
}

html, body, #root {
  background-color: var(--main-bg-color);
  height: 100%;
  font-style: Roboto Slab;
  font-size: 12px;
}

.wrapper {
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1050px) {
  .wrapper {
    padding: 5%;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    padding: 1%;
  }
}

a {
  color: var(--lnk-color);
  text-decoration: none;
}

.bth {
  background-color: white;
  border: none;
}